@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #077773 !important;
}

.text-primary {
    color: #077773 !important;
}

.bg-warning {
    --bs-bg-opacity: 1;
    background-color: #f67c33 !important;
}

.text-warning {
    color: #f67c33 !important;
}

a {
    text-decoration: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #077773;
    --bs-btn-border-color: #077773;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #077773;
    --bs-btn-hover-border-color: #077773;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #077773;
    --bs-btn-active-border-color: #077773;

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #077773;
    --bs-btn-disabled-border-color: #077773;
}

.btn-warning {
    --bs-btn-color: #fff;
    --bs-btn-bg: #f67c33;
    --bs-btn-border-color: #f67c33;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f67c33;
    --bs-btn-hover-border-color: #f67c33;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f67c33;
    --bs-btn-active-border-color: #f67c33;

    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f67c33;
    --bs-btn-disabled-border-color: #f67c33;
}

.space {
    padding: 3rem 0;
}

.social-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.btn-outline-warning {
    --bs-btn-color: #f67c33;
    --bs-btn-border-color: #f67c33;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f67c33;
    --bs-btn-hover-border-color: #f67c33;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f67c33;
    --bs-btn-active-border-color: #f67c33;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f67c33;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f67c33;
    --bs-gradient: none;
}

.border-warning {
    --bs-border-opacity: 1;
    border-color: #f67c33 !important;
}

.btn-1 img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}

.btn-1 {
    min-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
        font-size: 13px;
        padding: 19px 7px;
        font-weight: 600;
        color: #077773;
    }

    .navbar-expand-lg .navbar-nav .btn {
        margin-left: 7px;
        letter-spacing: 0px;
        font-size: 12px;
        border-radius: 3px;
    }

    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }
}

a.navbar-brand img {
    max-width: 170px;
    transform: scale(1.5);
}

.home-content h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.4rem;
    font-weight: 600;

}

.home-content h4 {
    font-family: "Playfair Display", serif;
    font-size: 26px;
    font-weight: 400;
}

.home-content .main-para {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.home-content .small-para {
    font-size: 13px;
    margin: 0;
}

.how_it_works {
    background-color: #077773;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 4rem;
}

.how_it_works::before {
    content: "";
    position: absolute;
    top: -99px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(353deg, #077773 50%, transparent 50%);
}

/* .how_it_works .col-md-3 {
    overflow: hidden;
} */

.how_it_works #svg1 {
    position: absolute;
    top: -14rem;
}

.how_it_works #svg2 {
    position: absolute;
    bottom: -16rem;
    transform: rotate(180deg);
}

.dashed-content {
    border: 1px dashed #fff;
}

.dashed-content .circle {
    width: 55px;
    height: 55px;
    line-height: 24px;
    padding: 11px;
}

.dashed-content .desc {
    width: calc(100% - 50px);
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.how_it_image {
    margin-bottom: 2.5rem;
}

.section-title {
    margin-bottom: 2rem;
}

.section-title h3 {
    font-size: 2.3rem;
    font-weight: 600;
    position: relative;
}

.contact-details .col-11 p:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
}

.scheduleText {
    font-size: 18px;
}

.contact-details .col-11 p:nth-child(2) {
    font-weight: 300;
    font-size: 14px;
}

.offerbox {

    height: 140px;
    max-width: 25%;
    background-color: #fff;
    padding: 10px;
}

.offerbox .circle {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.offerbox h4 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1rem;
}

.counselling {
    background: linear-gradient(#198f8f, #006c6ca3), url(../img/cheerful.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.features-section {
    background: linear-gradient(#077773e6, #077773e6),
        url("../img/features-bg.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn-status-group .btn {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;

}

.expertises_span span {
    font-size: 12px;
}

.statusDropdown a {
    font-size: 12px;
    border-radius: 0;
}

table tr th {
    font-weight: 600;
    text-transform: uppercase;
}

table tr th,
table tr td {

    font-size: 12px;
    border-width: 1px !important;
}

.lead_header {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.contact_bar {
    width: 4px;
    height: 27px;
    background-color: #b4b1b1;
    display: inline-block;
}

.contact_bar.active {
    background-color: #077773;
}

.rotate-90 {
    transform: rotate(90deg);
}

.leadbox ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.leadbox ul li {
    font-size: 12px;
}

.leadbox .leadtime {
    font-size: 12px;
    display: inline-block;
    padding: 3px 5px;
}

.leadbox {
    border: 1px solid #ccc;
    padding: 1rem;

}

.otherinfobuttongroup button {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    width: 140px;
    position: relative;
    outline: none;
    border: none;
    text-wrap: nowrap;
    overflow: hidden;
}

.otherinfobuttongroup button span {
    position: relative;
    z-index: 9;
    pointer-events: none;
}

.otherinfobuttongroup button.active span {
    color: white;
}

.indicatorbutton {
    background: #077773;
    width: 140px;
    border-radius: 4px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s;
}

/* Style the star rating container */
.rating-container {
    display: inline-block;
}

/* Style each star */
.star {
    font-size: 50px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.star.active {
    color: gold;
}

.offeringsul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.offeringsul li strong {
    color: #f67c33;
    font-size: 16px;
    font-weight: 400;
}

.offeringsul li {
    font-size: 14px;
    padding-bottom: 0.5rem;
}

.featuresspan span {
    position: relative;
    padding: 0 10px;
    font-size: 14px;
}

.featuresspan span:not(:last-of-type):before {
    content: "|";
    position: absolute;
    right: -5px;
    top: 0;
}

.keybenefit ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.reviewform label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.reviewBox {
    background-color: #fff;
    max-height: 388px;
    overflow-y: auto;
    padding: 10px;
}

.reviewBox p {
    font-size: 13px !important;


}

.reviewBox h5 {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid #077773;
    padding-bottom: 0.5rem;
}

.reviewform .form-control {
    box-shadow: none;
    border-color: #077773;
}

.reviewform .form-group {
    margin-bottom: 0.5rem;
}

.keybenefit ul li {
    position: relative;
    padding-bottom: 0.4rem;
    font-size: 14px;
    color: #077773;
    padding-left: 1rem;
}

.keybenefit ul li::before {
    content: "\21D2";
    position: absolute;
    left: 0;
    top: 0;

}


.leadcontainer {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.leadDescription h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.leadDescription p {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.leadname {
    font-size: 16px;
}

.leadAddress {
    font-size: 14px;
}

.leaddetails i {
    color: #077773;
}

.leaddetails .btn {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 4px;
}

.otpbox {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    box-shadow: none;
    outline: none;

}

.services {
    position: relative;
}

.services .container {
    position: relative;
}

.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background: url("../img/bg-body.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.services::after {
    content: "";
    position: absolute;
    bottom: -142px;
    left: 0;
    width: 100%;
    height: 217px;
    background: url(../img/bg-body.svg);
    background-size: contain;
    background-position: revert;
    background-repeat: repeat;
    z-index: -1;
}

.services h4 {
    color: #f67c33;
    font-size: 32px;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    margin-bottom: 2rem;
}

.services .row {
    align-items: center;
    margin-bottom: 2rem;
}

.services .row:nth-child(2n + 1) {
    text-align: right;
}

.services p {
    font-size: 17px;
    line-height: 1.9;
    color: #077773;
}

.services .imagebox {
    /* padding: 2rem; */
    max-width: 400px;
    margin: 0 auto;
}

.counselling-section h3 {
    color: #f67c33;
    font-size: 2rem;

    letter-spacing: 1px;
}

.counselling-section p {
    font-size: 17px;
    line-height: 1.9;
    color: #077773;
}

.counselling-reasons li {
    background: url(../img/check.svg);
    background-repeat: no-repeat;
    list-style: none;
    padding-left: 31px;
    padding-bottom: 5px;
    font-size: 17px;
    background-size: 17px 24px;
    line-height: 1.5;
}

.counselling-figure {
    position: relative;
    margin-top: -14%;
    /* margin-right: -77px; */
    right: -74px;
    border-bottom-left-radius: 7rem;
    overflow: hidden;
}

.features-section .circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 12px;
}

.features-section h5 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.features-section p {
    font-size: 17px;
    color: #fff;
    font-weight: 300;
}

.blogbox h4 {
    font-size: 20px;
    font-family: "Playfair Display", serif;
    color: #077773;
    letter-spacing: 1px;
    margin-bottom: 1.2rem;
}

.blogbox figure {
    height: 250px;
}

.blogbox figure img {
    height: 100%;
    object-fit: cover;
}

.blogbox p {
    font-size: 12px;
    color: #000;
}

.faqs .accordion-item .accordion-button {
    border-radius: 2rem;
    overflow: hidden;
    color: #077773;
}

.faqs .accordion-item {
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
}

.faqs .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 2rem;
}

.faqs .accordion-body {
    background: #fff;
    border-radius: 0.7rem;
    margin-top: 0.4rem;
    color: #077773;
    font-size: 14px;
    line-height: 1.9;
}

.faqs .accordion-body span {
    color: #f67c33;
}

.faqs .accordion-button:not(.collapsed) {
    background-color: #fff;
}

.faqs .accordion-button::after {
    display: none;
    visibility: hidden;
}

.faqs .accordion-button {
    font-weight: 600;
}

.faqs .accordion-button:not(.collapsed) .plus {
    display: none;
}

.faqs .accordion-button.collapsed .minus {
    display: none;
}

.accourdicon {
    background-color: #43d685;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    color: #fff;
}

.footer {
    margin-top: 4rem;
    background: url(../img/footer-bg.png);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 13rem;
}

.footer svg {
    position: absolute;
    top: -14.8rem;
    z-index: -1;
    transform: scaleX(-1);
    left: -230px;
}

.footer ul {
    padding-left: 0.8rem;
}

.footer ul li {
    font-size: 14px;
    padding: 5px 0;
}

.footer h4 {
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    display: block;
    position: relative;
    padding-bottom: 0.5rem;
}

.footer h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.footer p {
    font-size: 14px;
}

.footer ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    display: block;
}

.vashuImage {
    position: relative;
    left: 76px;
    top: 22px;
}

.footerImg {
    max-width: 160px;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.5rem;
    margin-bottom: 0.2rem;
}

.footerlogo {
    max-width: 180px;
    position: relative;
    /* margin-right: -20px; */
    display: block;
    margin-left: -13px;
}

.aboutSection h4 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 500;
    color: #f67c33;
}

.aboutSection p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #077773;
    text-align: justify;
}

.aboutSection figure {
    padding: 5rem;
    position: relative;
    z-index: 3;
}

.aboutSection figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 50%, #43d68552 50%);
    z-index: -1;
    border-radius: 10px;
}

.page-banner-area {
    padding: 3rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(https://themetor.com/thelaw/wp-content/uploads/sites/3/2022/03/img1.jpg);
    background-position: center center;
    background-size: cover;
}

.aboutSection {
    background-image: url(../img/about-bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.vision {
    padding: 3rem;
    border: 3px solid #43d685;
    border-radius: 2.5rem;
    position: relative;
}

.vision .quote {
    position: absolute;
    max-width: 40px;
}

.vision .upper_quote {
    top: -20px;
    left: 29px;
}

.vision .lower_quote {
    bottom: -20px;
    right: 29px;
}

.mission {
    border-color: #f67a3385;
}

.slok {
    margin-top: 0rem;
}

.slok_img {
    max-width: 400px;
    margin: 0 auto;
}

.avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
}

.team-bg {
    background: linear-gradient(#077773e6, #077773e6),
        url("https://img.freepik.com/free-photo/close-up-businessmen-writing-ideas_1098-2609.jpg");
}

.badge-success {
    background: #43d685;
    color: #fff;
    font-size: 12px;
    padding: 12px 18px;
    letter-spacing: 1px;
    font-weight: 300;
}

.teamCard {
    border-radius: 3rem;
    padding: 3rem 1rem;
    box-shadow: 4px 5px 4px #ccc;
}

.teamCard ul {
    list-style: none;
    padding-left: 0;
}

.teamCard ul li {
    font-size: 13px;
    line-height: 2;
}

.teamCard .avatar {
    border: 5px solid #fff;
}

.teamCard h4 {
    font-size: 20px;
}

.teamCard h5 {
    font-size: 16px;
    font-weight: 400;
}

.teamSection {
    background: linear-gradient(rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)),
        url(../img/4873152.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.joinSection h4 {
    font-size: 22px;
}

.joinSection p {
    font-size: 17px;
    margin: 0;
    line-height: 1.8;
    color: #000 !important;
}

.fine-upload {
    border: 1px dashed #077773;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 14px;
    color: #077773;
    font-weight: 600;
    cursor: pointer;
}

.join-form {
    /* background: #07777329; */
    background: radial-gradient(circle at left, #07777336 50%, #fff 50%);
    padding: 3rem;
    border-radius: 1.4rem;
    box-shadow: inset 7px -1px 10px 0px #077773,
        7px 1px 0px 0px #077773ad;
}

.join-form .form-select,
.join-form .form-control {
    border-radius: 2rem;
    font-size: 13px;
    box-shadow: none;
    padding-left: 30px;
    color: #777777;
    min-height: 45px;
}

.join-form .form-select,
.join-form .form-control::placeholder {
    color: #777777;
    font-size: 13px;
}

.cover {
    object-fit: cover;
}

.blog-features span i {
    color: #077773;
}

.blog-features span {
    font-size: 12px;
    color: #f67c33;
}

.sidebarBlog h4 {
    color: #077773;
    font-size: 16px;
}

.sidebarBlog .recentCategories ul li {
    list-style: none;
    padding-left: 0;
}

.sidebarBlog .recentCategories ul {
    padding: 0;
}

.custom-check {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    position: relative;
}

.custom-check::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #f67c33;
    background-color: #f67c33;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.custom-check:checked::before {
    transform: scale(1);
}

.sidebarBlog .recentCategories label {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    color: gray;
}

.sidebarBlog .form-control {
    border-radius: 3rem;
    font-size: 14px;
}

.sidebarBlog .form-control::placeholder {
    color: gray;
    font-size: 14px;
}

.askimage {
    transform: scaleX(-1);
    max-width: 450px;
    margin: 0 auto;
}

.askformbg {
    background: #efefef;
    padding: 4rem;
    border-radius: 1rem;
}

.askformbg .form-select,
.askformbg .form-control {
    border-radius: 2rem;
    box-shadow: none;
    color: gray;
    font-size: 16px;
    min-height: 50px;
    padding-left: 20px;
}

.askformbg .form-select,
.askformbg .form-control::placeholder {
    color: gray;
    font-size: 14px;
}

.box-shadow-1 {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box-shadow-2 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.box-shadow-3 {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.loginform .form-group {
    position: relative;
}

.loginform .form-group label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    font-size: 14px;
    color: gray;
    z-index: 9;
}

.loginform .form-group .form-control {
    border-color: #a4a4a4;
    font-size: 14px;
    box-shadow: none !important;
}

.loginform .form-group .form-control::placeholder {
    font-size: 12px;
}

.otpGroup .form-control {
    width: 40px;
    box-shadow: none;
    border-radius: 0;
    border-color: gray;
    text-align: center;
}

.loginform a {
    font-size: 12px;
}

.navbar .dropdown-menu {
    background-color: #077773;
    /* padding: 0; */
    border-radius: 6px;
    box-shadow: 0 2px 4px #ccc;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .dropdown-menu li {
    padding: 0;
}

.navbar .dropdown-item:focus,
.dropdown-item:hover {
    color: #fff !important;
    background-color: #43d685;
    border-radius: 5px;
}

.navbar .dropdown-item {
    font-size: 14px;
    padding: 10px;
    color: #fff !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        padding: 0;
    }
}

.categorybox {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    color: #077773;
}

.categorybox figure {
    width: 100%;
    text-align: center;
}

.categorybox figure img {
    max-width: 50px;
}

.findExpert {
    padding: 2rem;
    border: 1px dashed #f67c33;
}

.findExpert h4 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}

.question-title h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Playfair Display", serif;
}

.findExpert h5 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2rem;
    font-family: "Playfair Display", serif;
}

form small {
    font-size: 10px;
    font-weight: 600;
    /* margin-left: 20px; */
    text-align: left;
}

.backbtn img {
    transform: rotateY(180deg);
    width: 30px;
}

.hiddenrows {
    display: none;
}

.input-group-question .form-control,
.input-group-question .form-select {
    box-shadow: none;
    border-radius: 2rem;
    font-size: 14px;

    color: gray;
    padding-left: 20px;
}

.input-group-question .form-control::placeholder {
    font-size: 14px;
    color: gray;
}

.input-group-question label {
    font-size: 14px;
    font-weight: 600;
    color: #077773;
}

#myModel,
.customModel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1024;
    background: rgba(0, 0, 0, 0.525);
}

#myModel .modelBody,
.customModel .modelBody {
    padding: 20px;
    max-width: 40rem;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.customModel .modelBody .gridcenter {
    background-color: #fff;
    padding: 2rem;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f67c33;
    opacity: 1;
    border-radius: 0;
}

#myModel form {
    font-size: 14px;
}

#myModel form input {
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;
}

#myModel form label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.aboutusSection p {
    text-align: justify;
    font-size: 14px;
    line-height: 1.7;
}

.aboutusSection img {
    float: right;
}

.aboutusSection {
    background: linear-gradient(#fffffff1, #fffffff1),
        url("https://onegoal.qodeinteractive.com/wp-content/uploads/2023/08/about-us-parallax.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spclpara {
    padding: 1rem 3rem;
    border-left: 3px solid #f67c33;
    font-size: 20px !important;
    font-weight: 700;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #077773;
    background-color: #077773;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.bookingform label {
    font-size: 12px;
    text-transform: uppercase;
}

.bookingform .form-label {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.bookingform h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #077773;
}

.bookingform .form-group {
    margin-bottom: 1rem;
}

.bx-package {
    position: relative;
    cursor: pointer;
    background-color: #c1fde18f;
    border-radius: 6px;
}

.bx-package p:nth-child(2) {
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0;
}

.bx-package .discount {
    position: absolute;
    top: -15px;
    right: 10px;
    display: block;
    padding: 5px 10px;
    text-align: center;
    line-height: 1;
    color: #fff;
    background-color: #077773;
    /* box-shadow: 4px 4px 3px #19875463; */
    font-size: 10px;
    text-transform: uppercase;

    font-weight: 400;
}

.bx-package .discount::before {
    content: "";
    position: absolute;
    right: -26px;
    width: 0;
    height: 0;
    border-left: 12px solid #f67c33;
    border-right: 14px solid transparent;
    border-top: 15px solid transparent;
    top: 0;
}

.btn-outline-success {
    --bs-btn-color: #077773;
    --bs-btn-border-color: #077773;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #077773;
    --bs-btn-hover-border-color: #077773;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #077773;
    --bs-btn-active-border-color: #077773;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #077773;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #077773;
    --bs-gradient: none;
}

.btn-all .btnicon {
    position: relative;
    width: 44px;
    height: 44px;
    display: inline-block;
    border-radius: 50%;
    background: #f67c33;
    line-height: 42px;
    font-size: 26px;
    font-weight: 800;
    right: -39px;
}

.counsellingsection p {
    font-size: 16px;
    line-height: 2;
}

.counsellingsection .keypoint p strong {
    color: #f67c33;
    font-size: 20px;
    font-weight: 700;
}

.counsellingsection .keypoint h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #077773;
}

.counsellingsection .keypoint ul li {
    position: relative;
    list-style: none;
    padding-left: 10px;
    font-size: 15px;
    padding-bottom: 10px;
}

.counsellingsection .keypoint ul li::before {
    content: "";

    position: absolute;
    top: 5px;
    left: -21px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #f67c33;
}

.counsellingsection .keypoint ul li::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -17px;
    width: 12px;
    height: 7px;
    border: 2px solid #077773;
    border-top-color: transparent;
    border-right-color: transparent;
    rotate: -44deg;
}

.counsellingsection .keypoint .imgbox {
    padding: 0 3rem;
}

.coachingSection h3:not(.section-title h3) {
    font-size: 1.2rem;
    font-weight: 700;
    color: #f67c33;

    position: relative;
    padding-left: 15px;
}

.coachingSection .w-100 h3::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f67c33;
}

.coachingSection ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.coachingSection ul li {
    list-style: none;
    padding: 5px 30px;
    border-radius: 4rem;
    border: 1px solid #f67c33;
    margin: 5px;
    font-size: 14px;
    color: #077773;
    font-weight: 500;
}

.footertext {
    font-size: 12px !important;
    font-weight: 300;
    line-height: 2;
}

.slots {
    border-radius: 4rem;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: #077773;
    border: 1px solid #077773;
    width: 96px;
}

.top-4rem {
    top: 4rem;
}

.expertizeSpan {
    font-size: 12px;
}

.tableProfile tr td:nth-child(1) {
    width: 27%;
    position: relative;
}

.tableProfile tr td:nth-child(1)::before {
    content: ":";
    position: absolute;
    right: 5px;

    top: 4px;
}

.tableProfile tr td {
    font-size: 12px;
}

.previewForm .form-control {
    border: none;
    padding: 0;
    font-size: 14px;
}

.previewForm .form-label {
    font-size: 13px;
    font-weight: 700;
    color: #077773;
}

.bookingform .btn {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

a.fc-event {
    text-decoration: none;
    border-radius: 0;
    border: none;
    padding: 6.5px;
    font-size: 12px;
    font-weight: 300;
    box-shadow: none;
}

.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.fc .fc-button {
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 11px;
}

.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 0px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.fc-direction-ltr .fc-timegrid-col-events {
    margin: 0;
}

.fc-theme-standard td,
.fc-theme-standard th {
    background: #0777702b;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
    color: #000 !important;
    font-size: 12px;
    font-weight: 600 !important;
    text-transform: uppercase;
}

.copyright {
    font-size: 13px;
}

.counsellingsection:nth-of-type(2n + 1) {
    background-color: #f5f5f5;
}

.checkoutpage .form-label {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: block;
    width: 100%;
}

.checkoutpage .form-label::before {
    position: absolute;
    content: ":";
    top: 4px;
    right: 10px;
}

.checkoutpage h4 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 10px;
    border-left: 3px solid #f67c33;
}

.checkoutpage .formValue {
    font-size: 14px;
    font-weight: 400;
}

.checkoutpage .col-md-8 .row p {
    font-size: 14px;
}

.checkoutpage .col-md-8 .row p:nth-child(1) {
    font-weight: 700;
}

.checkoutpage .col-md-8 .row p:nth-child(2) {
    font-weight: 300;
    font-size: 12px;
}

#muisvg {
    fill: #ffc107;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 70%;
    opacity: 0.2;
    transform: rotate(45deg);
}

.checkoutbox {
    background: #fff3eb;
}

.mui-style-ltr-dqi2l4-parallaxDot {
    fill: rgba(0, 0, 0, 0.38);
    width: 100%;
    height: 100%;
    opacity: 0.2;
    top: 90px;
    left: 0px;
    transform: scale(0.5);
    transform-origin: left top;
    position: absolute;
}

.checkoutformbox table td:nth-child(1) {
    font-weight: 600;
    font-size: 14px;
    position: relative;
    min-width: 167px;
}

.checkoutformbox table tr:not(:last-of-type) td:nth-child(1)::before {
    content: ":";
    position: absolute;
    right: 20px;
    top: 10px;
}

small.position-absolute.top-0.start-0 {
    width: 15px;
    display: block;
    height: 15px;
    font-size: 8px;
    background: #077773;
    text-align: center;
    line-height: 15px;
    color: #fff;
    border-radius: 50%;
    top: -4px !important;
}

.calendar-day-hover label {
    font-size: 14px;
}

.expertProfileBox h4 {
    font-size: 16px;
    font-weight: 700;
}

.expertProfileBox p {
    font-size: 14px;
}

.expertProfileBox .btn {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.mdi-cross {
    position: relative;
    overflow: hidden;
    color: gray !important;
    border-color: gray !important;
}

.mdi-cross::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f67c33;
    transform-origin: left;
    rotate: 9deg;
}

.mdi-cross::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #f67c33;
    transform-origin: right;
    rotate: -9deg;
}

.playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-weight: 300;
    color: #f67c33;
}

.youtubevideo {
    max-height: 300px;
    position: relative;
}

.youtubevideo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.245);
    width: 100%;
    height: 100%;
}

#policy h3 {
    font-size: 18px;
    font-weight: 600;
    color: #f67c33;
    margin: 1rem 0;
}

#policy h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

#policy p,
#policy ul li,
#policy ol li {
    font-size: 14px;
    line-height: 1.8;
}

#policy p strong {
    font-size: 14px;
    font-weight: 600;
}

#policy a {
    color: #f67c33;
}

.paymentResponse {
    padding: 2rem;
    box-shadow: 2px 1px 3px 0px #ccc, inset 14px 7px 17px 0px #e9e9e9,
        inset -10px -14px 9px 0px #efefef;
}

.paymentResponse::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    left: -18px;
}

.paymentResponse::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    right: -18px;
}

#divider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 1px;
    border: 1px dashed #ddd;
}

.paymentResponse img {
    width: 80px;
}

.paymentResponse .innerSection {
    margin-bottom: 7rem;
}

.paymentResponse .bottomSection {
    position: relative;
    top: -3rem;
    color: gray;
}

.paymentResponse .bottomSection .d-flex span:first-child {
    font-weight: 600;
    position: relative;
    width: 48%;
}

.paymentResponse .bottomSection .d-flex span:first-child::before {
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

a.fc-event,
a.fc-event:hover {
    text-decoration: none;
    min-height: 30px;
    padding: 0;
}

@media screen and (min-width: 992px) {
    .firstDropDownWidth {
        min-width: 800px;
        padding: 1.2rem;
    }

    .firstDropDownWidth .firstLi {
        width: 33%;
        float: left;
    }
}

.image__team {
    max-width: 100%;
    min-width: 100px;
    height: 100%;
}

.team__box {
    background: radial-gradient(circle at bottom left,
            #07777359 -3%,
            #e5fef382 26%);
    box-shadow: 3px 0px 1px #077773;
}

.team__box .bookingbtn {
    font-size: 12px;
}

.team__box .image__team figure {
    margin: 0;
    height: 167px;
}

.team__box .image__team figure img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.desc__team {
    width: 100%;
}

.appointment_form label {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: block;
    color: #077773;
}

.appointment_form .form-control {
    border-color: #198f8f67;
    font-size: 13px;
}

.appointment_form .form-group {
    margin-bottom: 1rem;
}

.desc__team table tr td {
    background: transparent;
    padding: 2px 0 !important;
}

.desc__team table tr td:nth-child(1) {
    font-size: 12px;
    font-weight: 600;
    position: relative;
}

.desc__team table tr td:nth-child(2) {
    font-size: 12px;
}

.desc__team table tr td:nth-child(2) span.expertize {
    font-size: 9px;
    padding: 4px 8px;
    min-width: fit-content;
}

.desc__team table tr td:nth-child(1) {
    min-width: 145px;
    position: relative;
}

.desc__team table tr td:nth-child(1)::before {
    content: ":";
    position: absolute;
    top: 3px;
    right: 10px;
}

.team__box h4 {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 700;
}

.team__box p {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.expert__box {
    overflow: hidden;
    position: relative;
    padding-right: 10px;
}

.ps__rail-x {
    height: 4px !important;
}

.ps__thumb-x {
    height: 2px !important;
}

.team__box table p {
    font-size: 12px;
}

.team__box a.btn {
    font-size: 12px;
    padding: 7px 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
}

.profile_box table tr td {
    background: transparent;
}

.profile_box .expertize {
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 300;
}

.profile_box table tr td:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    min-width: 250px;
}

.profile_box table tr td:nth-child(1)::before {
    content: ":";
    position: absolute;
    right: 10px;
    top: 5px;
}

.profile_box h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.profile_box p strong {
    font-weight: 500;
}

.profile_box p {
    font-size: 16px;
}

.profile_box table tr td:nth-child(1) i {
    font-size: 18px;
    margin-right: 10px;
}

.text-warning h3 {
    color: #f67c33;
}

.profile_box .degtext {
    font-size: 20px;
}

.blog-title {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #077773;
}

.blog-content h3 {
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    border-left: 2px solid #077773;
    margin: 1rem 0;
}

.blog-content h2 {
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    border-left: 2px solid #077773;
    margin: 1rem 0;
}

.blog-content h4 {
    font-size: 16px;
    font-weight: 500;
}

.blog-content p,
.blog-content ul li,
.blog-content ol li {
    font-size: 16px;
    font-weight: 400;
}

.profile_box_image {
    max-width: 250px;
}
